# Production environment template — copy to .env.prod and fill in values
ANGULAR_APP_URL=https://mango-flower-0ced4011e.4.azurestaticapps.net
API_APP_URL=https://app-talent-api-dev.azurewebsites.net/api/v1
IDENTITY_SERVER_URL=https://app-talent-ids-dev.azurewebsites.net

TEST_USER_EMPLOYEE_USERNAME=
TEST_USER_EMPLOYEE_PASSWORD=

TEST_USER_MANAGER_USERNAME=
TEST_USER_MANAGER_PASSWORD=

TEST_USER_HRADMIN_USERNAME=
TEST_USER_HRADMIN_PASSWORD=
